 body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container 
{
    width: 70%;
    padding: lem;
    text-align: left;
    border: 5px solid rgb(201, 31, 31);
    margin: 0 auto; 
}

#container h1 
{
    font-size: 50px;
}